<div class="d-flex align-items-center">
    <h1>投稿一覧</h1>
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">ひとこと</th>
      <th scope="col">投稿者</th>
      <th scope="col">投稿日</th>
      <th scope="col">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ローストビーフ丼</td>
      <td>自宅の近くのカフェにて</td>
      <td>T.I</td>
      <td>2021/03/21</td>
      <td>2021/03/21</td>
    </tr>
  </tbody>
</table>